/* CUSTOM STYLE */
@import url(//fonts.googleapis.com/earlyaccess/jejugothic.css);

/* 제목 중앙 정렬 및 마진 설정 */
h1 {
    text-align: center; /* 텍스트 가운데 정렬 */
    margin-top: 20px; /* 위쪽 마진 설정 */
    margin-bottom: 20px; /* 아래쪽 마진 설정 */
}

/* 설비 thead th 높이 설정 */
#equipmentTable thead th {
    height: 200px;
}

/* 설비 tbody th 높이 설정 */
#equipmentTable tbody th {
    height: 100px;
}

body, select, input {
    font-family: 'Jeju Gothic', sans-serif;
}

.wrap {
    width: 80%;
    margin: 50px auto;
}

/* 검색창, 페이지당 select 등 input 관련 */
.dataTables_wrapper .dataTables_filter input,
select[name=myTable_length] {
    padding: 0.5em;
}

#select {
    padding: 0.5em;
    margin-right: 0.5em;
}

/* page button */
.dataTables_wrapper .dataTables_paginate .paginate_button.current {
    background: #337ab7;
    color: white !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
    background: linear-gradient(to bottom, #585858 0%, #111 100%);
    color: white !important;
}

table.dataTable tbody tr {
    transition-duration: .28s;
    transition-timing-function: cubic-bezier(.4, 0, .2, 1);
    transition-property: background-color;
}

table.dataTable.display tbody tr.odd>.sorting_1,
table.dataTable.order-column.stripe tbody tr.odd>.sorting_1,
table.dataTable.display tbody tr.even>.sorting_1,
table.dataTable.order-column.stripe tbody tr.even>.sorting_1,
table.dataTable.hover tbody tr:hover,
table.dataTable.display tbody tr:hover {
    background: #E1F5FE;
}

/* EXCEL 버튼 */
.exportCSV {
    margin-right: 5px;
    text-align: center;
    border: 1px solid white;
    transition: all 0.15s;
    background-color: #00695C;
    padding: 5px 10px;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.exportCSV:hover {
    background-color: transparent;
    border: 1px solid gray;
    color: black;
}

/* 컬럼 선택 버튼 */
.colVisButton {
    text-align: center;
    border: 1px solid white;
    transition: all 0.15s;
    background-color: #17a2b8;
    padding: 5px 10px;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px; /* 오른쪽 마진 추가 */
}

.colVisButton:hover {
    background-color: transparent;
    border: 1px solid gray;
    color: black;
}

.dt-button-collection {
    position: absolute; /* 절대 위치로 설정 */
    right: 0; /* 오른쪽 정렬 */
    top: 100%; /* 버튼 아래에 위치하도록 설정 */
    width: 120px; /* 너비 조정 */
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.15);
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
    border-radius: 0.25em;
    padding: 0.5em;
}

.dt-button-collection .dt-button {
    display: block;
    width: 100%;
    text-align: left;
    background: none;
    color: black;
    border: none;
    padding: 0.5em;
    margin-bottom: 0.1em;
}

.dt-button-collection .dt-button.active {
    background-color: #17a2b8;
    color: white;
}

/* 드롭다운 메뉴에 호버 효과 추가 */
.dt-button-collection .dt-button:hover {
    background-color: #f0f0f0; /* 호버 시 배경색 변경 */
}

/* 드롭다운 메뉴 내 항목들 너비 조정 */
.dt-button-collection .dt-button span {
    display: inline-block;
    width: 100%;
    white-space: nowrap; /* 텍스트 줄바꿈 방지 */
    overflow: hidden;
    text-overflow: ellipsis; /* 넘치는 경우 ...으로 표시 */
}

@media screen and (max-width: 640px) {
    /* 검색창, 페이지당 select 등 input 관련 */
    .dataTables_wrapper .dataTables_filter input,
    select[name=myTable_length] {
        padding: 0.2em;
        width: 30%;
    }

    #select {
        padding: 0.2em;
        margin-right: 0.5em;
    }
}

/*민규*/
/* 드롭다운 */
.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
}
/* 설비 가동 현황 */
table#equipmentTable th {
    border: 1px solid black;
    padding: 8px 15px; /* 좌우 여백 조절 */
    text-align: center;
    background-color: #f2f2f2;
}