<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>원자재 내역</title>
    <!-- 공통 cdn.css 포함 -->
    <th:block th:replace="header :: head"></th:block>
    <link rel="stylesheet" href="/css/material_inventory_management.css">
</head>
<body>
<!-- 공통 헤더 포함 -->
<header th:replace="header :: header"></header>

<div class="container">
    <!-- 제목을 포함하는 그리드 -->
    <div class="row">
        <div class="col">
            <h1 class="text-center mt-5 mb-4">원자재 내역</h1>
        </div>
    </div>

    <!-- 작은 표를 포함하는 그리드 -->
    <div class="row small-table-container">
        <div class="col-auto">
            <table class="small-table">
                <thead>
                <tr>
                    <th scope="col">포장지</th>
                    <th scope="col">박스</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>20ea</td>
                    <td>100ea</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <!-- 원자재 내역 테이블 -->
    <div class="row">
        <div class="col">
            <table id="materialTable" class="table table-bordered display" style="width:100%">
                <thead>
                <tr>
                    <th>수주 번호</th>
                    <th>발주 번호</th>
                    <th>원자재</th>
                    <th>입고량</th>
                    <th>입고 날짜</th>
                    <th>출고량</th>
                    <th>출고 날짜</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>5</td>
                    <td>10</td>
                    <td>꿀</td>
                    <td>45L</td>
                    <td>2024-05-59</td>
                    <td>45L</td>
                    <td>2024-05-59</td>
                </tr>
                <tr>
                    <td>5</td>
                    <td>10</td>
                    <td>꿀</td>
                    <td>45L</td>
                    <td>2024-05-59</td>
                    <td>45L</td>
                    <td>2024-05-59</td>
                </tr>                <tr>
                    <td>5</td>
                    <td>10</td>
                    <td>꿀</td>
                    <td>45L</td>
                    <td>2024-05-59</td>
                    <td>45L</td>
                    <td>2024-05-59</td>
                </tr>
                <!-- 다른 행들도 필요에 따라 추가 -->
                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- 공통 cdn.js 포함 -->
<th:block th:replace="header :: footer"></th:block>
<script src="/js/material_inventory_management.js"></script>
</body>

</html>
