<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>출하관리</title>
    <!-- 공통 cdn.css 포함 -->
    <th:block th:replace="header :: head"></th:block>
    <link rel="stylesheet" href="/css/shipment_management.css">
</head>
<body>
<!-- 공통 헤더 포함 -->
<header th:replace="header :: header"></header>

<div class="container">
    <!-- 제목을 포함하는 그리드 -->
    <div class="row">
        <div class="col">
            <h1 class="text-center mt-5 mb-4">출하 목록</h1>
        </div>
    </div>

    <!-- 본문 내용 -->
    <div class="row">
        <div class="col">
            <table id="example1" class="table table-bordered display custom-table" style="width:100%">
            </table>
        </div>
    </div>
</div>

<div class="container">
    <!-- 제목을 포함하는 그리드 -->
    <div class="row">
        <div class="col">
            <h1 class="text-center mt-5 mb-4">출하 이력</h1>
        </div>
    </div>

    <!-- 본문 내용2 -->
    <div class="row">
        <div class="col">
            <table id="example2" class="table table-bordered display custom-table" style="width:100%">
            </table>
        </div>
    </div>
</div>

<!-- 공통 cdn.js 포함 -->
<th:block th:replace="header :: footer"></th:block>
<script src="/js/shipment_management.js"></script>
</body>

</html>
