<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>출하관리</title>
    <!-- 공통 cdn.css 포함 -->
    <th:block th:replace="header :: head"></th:block>
    <link rel="stylesheet" href="/css/shipment_management.css">
</head>
<body>
<!-- 공통 헤더 포함 -->
<header th:replace="header :: header"></header>

<div class="container">
    <!-- 제목을 포함하는 그리드 -->
    <div class="row">
        <div class="col">
            <h1 class="text-center mt-5 mb-4">출하 목록</h1>
        </div>
    </div>


    <!-- 본문 내용 -->
    <div class="row">
        <div class="col">
            <table id="example" class="table table-bordered display custom-table" style="width:100%">
                <thead>
                <tr>
                    <th>수주 번호</th>
                    <th>제품명</th>
                    <th>수량(box)</th>
                    <th>회사명</th>
                    <th>배송지</th>
                    <th>출하 예정 날짜</th>
                    <th>출하</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>123123123</td>
                    <td>Tiger Nixon</td>
                    <td>System Architect</td>
                    <td>Edinburgh</td>
                    <td>61</td>
                    <td>System Architect</td>
                    <td><button class="btn-ship">출하</button></td>
                </tr>
                <tr>
                    <td>11111111111</td>
                    <td>John Doe</td>
                    <td>Developer</td>
                    <td>New York</td>
                    <td>42</td>
                    <td>Developer</td>
                    <td><button class="btn-ship">출하</button></td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Jane Smith</td>
                    <td>Designer</td>
                    <td>Los Angeles</td>
                    <td>31</td>
                    <td>Designer</td>
                    <td><button class="btn-ship">출하</button></td>
                </tr>
                <!-- 다른 행들도 필요에 따라 추가 -->
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="container">
    <!-- 제목을 포함하는 그리드 -->
    <div class="row">
        <div class="col">
            <h1 class="text-center mt-5 mb-4">출하 이력</h1>
        </div>
    </div>

    <!-- 본문 내용2 -->
    <div class="row">
        <div class="col">
            <table id="example2" class="table table-bordered display custom-table" style="width:100%">
                <thead>
                <tr>
                    <th>수주 번호</th>
                    <th>제품명</th>
                    <th>수량(box)</th>
                    <th>회사명</th>
                    <th>배송지</th>
                    <th>출하 예정 날짜</th>
                    <th>출하 날짜</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>1232</td>
                    <td>Jane Smith</td>
                    <td>Designer</td>
                    <td>Los Angeles</td>
                    <td>31</td>
                    <td>Designer</td>
                    <td>출하</td>
                </tr>
                <!-- 여기에 출하 이력이 추가될 예정 -->
                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- 공통 cdn.js 포함 -->
<th:block th:replace="header :: footer"></th:block>
<script src="/js/shipment_management.js"></script>
</body>

</html>
